$icomoon-font-family: "icomoon" !default;
$icomoon-font-path: "../icomoon/fonts" !default;

$icm-OK_white: "\e900";
$icm-steering-wheel: "\e92b";
$icm-Telegram_white: "\e901";
$icm-tick-sign: "\e92d";
$icm-Twitter_white: "\e92e";
$icm-Youtube_white: "\e92f";
$icm-add-plus-button: "\e930";
$icm-left-arrow-min: "\e931";

